img{
    width: 5rem;
    height: 5rem;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center !important;
    vertical-align: middle !important;

  }
//   .picker{
//     // position: relative;
//     // z-index: 999;
//     z-index: 10000000 !important;
//   }
//   .timepicker-overlay {
//     z-index: 10000000 !important;
// }

// .timepicker-backdrop-overlay {
//     z-index: 10000000 !important;
// }
// .cdk-overlay-container {
//     z-index: 500 !important;
// }
// ngx-material-timepicker{
//     z-index: 10000000 !important;
// }
